.container-fluid.nav-bar{
  top: 0;
  left: 0;
  position: fixed;
}
.bars :hover{
    background-color: chartreuse;
    border: 1px solid black;
}
.search-field{
    width: 70%;
    background: transparent;
    border: 0px;
    /* border-bottom: 1px solid whitesmoke; */
    color:whitesmoke;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}
.col-sm-10 input:focus{
    background: none;
    outline: none;
}
.search-field:focus{
    outline-color: transparent;
}
.fa-refresh{
    font-size: 20px;
}
.list-grid{
    font-size: 20px;
    color: whitesmoke;
}

.right-content{
    margin-right: 50%;
}
.sidebar-tour{
    background-color: red;
    width: 100%;
    height: 540px;
    border: 1px solid whitesmoke;
}
.main-content{
    border: 2px solid whitesmoke;
}
/* CSS for Create Note */
.collapsible {
    width: 100%;
    background-color:transparent;
    color: black;
    cursor: pointer;
    border: none;
    text-align: left;
    font-size: 20px;
    border-radius: 5px;
  }
  
  .active, .collapsible:hover {
    outline:none;
    border: none;
  }
  .note-content {
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .note-container{
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .notes{
    box-shadow: 0px 0px 00px 1.5px black;
  }
  .note-fa{
    padding: 7px;
  }
  .closeBtn{
    background-color: transparent;
  }
  .desc-icon{
      background-color: white;
      border-radius: 5px;
  }
  /*------------*/

  .noteComponent {
    margin-top: 35%;
  }
  .inputbase {
    padding: 11px 13 7px;
    font-size: 15px;
  }
.button-icon {
    margin-top: 5%;
   padding: 5px;
}

/*Header*/
.has-search .form-control {
  padding-left: 2.375rem;
  margin-top:1.5px;
  height:50px;
  background-color: #f1f3f4;
  border-radius: 8px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.1;
  text-align: center;
  pointer-events: none;
  color:gray;
  font-size: 25px;
}

.row.header{
  padding: 5px 0;
  border: 1px solid whitesmoke;
  /* background-color: violet; */
}
.form-control ::placeholder{
  font-size: 25px;
}
.note-list{
  /* margin-left:50px; */
  padding-left:32px;
}