@charset "UTF-8";

@import
	"https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* body {
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
} */

p {
	font-family: 'Poppins', sans-serif;
	font-size: medium;
	font-weight: 200;
	line-height: 1.5em;
	color: #999;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar {
	padding: 10px 8px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 50px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
	display: flex;
	align-items: stretch;
	perspective: 1500px;
}

.sidebar {
	margin-top: 66px;
	min-width: 250px;
	max-width: 250px;
	background: #7386D5;
	color: #fff;
	transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
	transform-origin: bottom left;
}
.sidebar img {
	width: 55px;
	border: 1px solid blueviolet;
	border-radius: 50%;
}

.sidebar.active {
	margin-left: -250px;
	transform: rotateY(100deg);
}

.sidebar .sidebar-header {
	padding: 15px;
	background: #6d7fcc;
	font-size: 40px;
	font-family:Comic Sans MS;
}

.sidebar ul.components {
	padding: 18px 0;
	border-bottom: 1px solid #47748b;
}

.sidebar ul li a {
	padding: 10px;
	font-size: 1.0em;
	display: block;
}

.sidebar ul li i {
	padding-left: 4px;
	padding-right: 8px;
}

.sidebar ul li a:hover {
	color: #7386D5;
	background: #fff;
}

.sidebar ul li.active>a, a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

a[data-toggle="collapse"] {
	position: relative;
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
	padding: 15px;
	min-height: 100vh;
	transition: all 0.3s;
}

.collapsenav img {
	width: 28px;
	border: 1px solid blueviolet;
	border-radius: 50%;
}

.sidebarCollapse {
	width: 40px;
	height: 40px;
	background: #f5f5f5;
}

.sidebarCollapse span {
	width: 80%;
	height: 2px;
	margin: 0 auto;
	display: block;
	background: #555;
	transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	transition-delay: 0.2s;
}

.sidebarCollapse span:first-of-type {
	transform: rotate(45deg) translate(2px, 2px);
}

.sidebarCollapse span:nth-of-type(2) {
	opacity: 0;
}

.sidebarCollapse span:last-of-type {
	transform: rotate(-45deg) translate(1px, -1px);
}

.sidebarCollapse.active span {
	transform: none;
	opacity: 1;
	margin: 5px auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
.female{
	margin-top:6%;
}
.heading{
	 background-color: rgb(0, 128, 255);
	 color: #ffffff;
	 font-weight: bold;
}
.heading td{
	font-size: 16px;
}
td{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 14px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.toplocations{
	padding:10px;
	font-size:16px;
	margin:8px;
}
.toplocations .heading td{
	font-size: 18px;
}
.toplocations table td{
	padding: 18px;
}
section{
	border:2px solid blueviolet;
	box-sizing: border-box;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media ( max-width : 768px) {
	#sidebar {
		margin-left: -250px;
		transform: rotateY(90deg);
	}
	#sidebar.active {
		margin-left: 0;
		transform: none;
	}
	#sidebarCollapse span:first-of-type, #sidebarCollapse span:nth-of-type(2),
		#sidebarCollapse span:last-of-type {
		transform: none;
		opacity: 1;
		margin: 5px auto;
	}
	#sidebarCollapse.active span {
		margin: 0 auto;
	}
	#sidebarCollapse.active span:first-of-type {
		transform: rotate(45deg) translate(2px, 2px);
	}
	#sidebarCollapse.active span:nth-of-type(2) {
		opacity: 0;
	}
	#sidebarCollapse.active span:last-of-type {
		transform: rotate(-45deg) translate(1px, -1px);
	}
}