.side-drawer{
    margin-top: 5%;
    padding-top: 1%;
    height: 100%;
    box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.5) ;
    position: fixed;
    width: 250px;
}
.side-drawer ul{
    list-style: none;
    margin-left: 7%;
}
.side-drawer li .p-3{
    text-decoration: none;
    padding-top: 5px;
}
.active{
    width:100%;
   background-color: #feefc3;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
}

.side-drawer ul li:hover{
    width:100%;
    background-color: rgba(0,0,0,0.12);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.side-drawer ul li.active:hover{
    background-color: #feefc3;
}