.side-main{
    /* background-color: green;
    border: 2px solid blue; */
    margin-top: 7%;
    display: flex;
  }
  .side-bar{
    position: fixed;
    top:58px;
    bottom: 10px;
    width: 26%;
    background-color: #fff;
    overflow-y: scroll;
  }
  .side-bar-content{
    padding: 5%;
  }
.side-drawer ul{
    list-style: none;
    margin-left: 7%;
}
.side-drawer li .p-3{
    text-decoration: none;
    padding-top: 5px;
}
.active{
    width:100%;
   background-color: #feefc3;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
}

.side-drawer ul li:hover{
    width:100%;
    background-color: rgba(0,0,0,0.12);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.side-drawer ul li.active:hover{
    background-color: #feefc3;
}